ARM/repo/* linguist-vendored
ARM/hw_platform/* linguist-generated
FPGA/System/System.srcs/sources_1/bd/base_zynq_design/hdl/* linguist-generated
FPGA/System/System.srcs/sources_1/bd/base_zynq_design/ip/* linguist-vendored
FPGA/System/System.srcs/sources_1/bd/base_zynq_design/ipshared/* linguist-vendored
FPGA/SearchBlock/SearchBlock.srcs/sources_1/ip/* linguist-vendored
Docs/* linguist-documentation